$color__background-body: #fff;
$color__background-screen: #0585b8;
$color__background-hr: red;
$color__background-button: #16b0dc;
$color__background-pre: #eee;
$color__background-ins: #fafafa;

$color__text-screen: #60666a;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #303336;
$color__link-visited: purple;
$color__link-hover:#1586b9;
$color__text-main: #404040;
$color__tittle-sub: #303437;

$color__border-button: #b0b2b4;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #b0b2b4;


