@media (min-width: $screen-lg-min) { 
body{
  //  border:solid 5px red;
} 
.site-header{
    height:66px;
    .main-navigation{
        margin-top:22px;
    }
}   

    
    
//Banner
.main-banner{
    .owl-stage-outer{
        height:auto;
    }  
    .owl-carousel .owl-item img{
        width:100%;
        max-width:100%;
    } 
    .lgx-carousel-section .lgx-carousel .lgx-item .banner-content{
        padding-top:12%;  
    }
    .lgx-carousel-section .lgx-carousel .lgx-item .banner-content h1{
        font-size:56px;
        line-height:62px;
    }
    .lgx-carousel-section .lgx-carousel .lgx-item .banner-content p{
        font-size:18px;
    }
    .banner-content{
        padding-top:248px;
    }
}   
    
    
//Home-info
.home-sub-info{
    .info{
        padding:0;
        margin:0;
        padding:80px 200px 0 200px;
    }  
}
    
//Portfolio
.portfolio-home{
    padding: 80px 0 0 0;
}
 
//What we do

.what-we-do .service-block .project-content{
    min-height:185px;
    padding-bottom:0;
}   
    
//Case study
.home-case-study {
	padding:120px 0 112px 0;
    h5{
        padding:40px 0 0 0;
    }
    h3{
        padding:50px 0 20px 0;
    }
}
.home-case-study .case-screen{
    width:auto;
    margin-top:0;
    margin-right:-160px;
}  
//Inspired
.inspired-section{
    .inspired-sub + .inspired-sub{
        margin-top:21px;
    } 
}  
//Client Say
.client-say{
    .about{
        padding-top:155px;
    }
}
    
    
//end
}

@media (min-width: 1400px) {
//end
}
@media (min-width: 1700px) { 
body{
  //  border:solid 5px pink;
}   
//end
}